
<style>
.sizeit{
  width:100%;
  height:720px
  background-size:cover;
  background-repeat:no-repeat;
  
}

.carousel-item{
  height:60rem;
  background:#777;
  position:relative;
}
.overlay-image{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
  background-size:cover;
  background-position:center;
  
}
</style>
      

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
  <div class="sizeit">
    <div class="carousel-item active">
      <div class="overlay-image">
        <%= image_tag("h2.jpg") %>
      </div>
     
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Car Zone</h5>
        <p>Sell and Buy</p>
      </div>
    </div>
    <div class="carousel-item">
    <div class="overlay-image">
      <%= image_tag("img.webp") %>
     </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>Exciting offers</h5>
        
      </div>
      </div>
    </div>
    <div class="carousel-item">
    <div class="overlay-image">
       <%= image_tag("img2.webp") %>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>New Releases</h5>
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>