<div class="d-flex align-items-center justify-content-center">
    <h1>HOME PAGE</h1>
   
</div>
<div>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Login" , login_path %>
    
</div>
    