
<% if current_user.user_type==2 %>
    <h1>Your Orders</h1>

    <% @orders.each do |order| %>
        <p><% @car = Car.find(order.car_id) %></p>
        <p> <%= @car.brand %></p>
    <% end %>
    
<% else %>
<% @seller_cars.each do |car1| %>
    <h1> Sold Orders </h1>
    <% if car1.status==1 %>
    <p> <%= car1.brand %></p>
    <% end %>
<% end %>  
<% end %>